/build/
__pycache__
/.idea/
*.whl
.env
/astronomer-migration-provider/astronomer_migration_provider.egg-info/
/astronomer-migration-provider/dist/
.DS_Store
/astronomer-starship/astronomer_starship.egg-info/
/astronomer-starship/dist/