{% extends "components/tabs.html" %}

{% block body %}
{% if 'dags' in data and data.dags|length > 0 %}
<form>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">DAG</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for k, v in data.dags.items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% else %}
<h4>No DAGs found in local instance.</h4>
{% endif %}
{% endblock %}