{% if is_migrated %}
    {% if hook!="False" %}
        <button hx-post="{{ url_for('AstroMigration.button_migrate', type=type, deployment=deployment, target=target,hook=hook) }}"
        class="btn btn-primary mb3-l">Overwrite</button>
    {% else %}
        <button class="btn btn-outline-danger disabled">Migrated ✅</button>
    {%  endif %}
{% elif hook !="False" %}
<button
        hx-post="{{ url_for('AstroMigration.button_migrate', type=type, deployment=deployment, target=target,hook=hook) }}"
        class="btn btn-primary mb3-l">
    Migrate to Secrets Store
</button>
{%  elif deployment == 'undefined' %}
<button class="btn btn-outline-secondary disabled">Migrate</button>

{% else %}
<button
        hx-post="{{ url_for('AstroMigration.button_migrate', type=type, deployment=deployment, target=target,hook=hook) }}"
        class="btn btn-outline-primary">
    Migrate
</button>
{% endif %}
